<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Clairvoyant System">
    <meta name="author" content="HC">

    <title>Clairvoyant</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">

    <!-- Custom styles for this template -->
    <!-- <link rel="stylesheet" href="/stylesheets/index.css"> -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top hc-nav" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="home">Clairvoyant</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav hc-nav-left">
            <li id="nav-home"><a href="home">Home</a></li>
            <li id="nav-introduction"><a href="intro">Introduction</a></li>
            <li id="nav-demo"><a href="demo" target="_blank">Demo</a></li>
            <li id="nav-about" class="active"><a href="about">About</a></li>
<!--             <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li> -->
          </ul>
          <ul class="nav navbar-nav navbar-right hc-nav-right">
            <li><a id="backToTop" class="backToTop">Back To Top</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">
      <div id="hc-mask" class="hc-mask"></div>
      <div id="hc-chart-mask" class="hc-mask"></div>

      <!-- Main component for a primary marketing message or call to action -->
      <div class="row hc-chart-row">
        <div id="chart" class="col-md-12 hc-chart"></div>
      </div>

      <div class="row">
        
      </div> <!-- /.row -->

    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
    <script src="javascripts/tools.js"></script>

  </body>
</html>